<div class="header">
    <h1 class="headertext"><img class="headerlogo" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_480800.png&f=1&nofb=1%22/%3E" alt="logo">Diet App</h1>
    <p class="dateAndTime">{{ dateAndTime }}</p>
</div>

<div class="sidenav">
    <a routerLink="/food">Food</a>
    <a routerLink="/today">Today</a>
    <a routerLink="/chart">Chart</a>
    <a routerLink="/foodadd">Add Food</a>
</div>

<router-outlet></router-outlet>

<div>
    <p class="centered">©Lightbulb Inc. All rights reserved, 2022.</p>
</div>
